/.vscode
/a.out
/node_modules
/output.json
/package-lock.json
/package.json
/regex_test.out
/regextest.cpp
/testinput.txt

/bin
/obj

/Makefile
WrapperApp.make
example output
Gen5RandomBattle-2023-05-23-musicalroc-rocsaltaccount.html
